

 <%= render partial: 'category', collection: @categories %>
<div class="text-center">
  <%= link_to t('.new'), new_category_path, class: "inline-flex mt-6 items-center p-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:border-blue-800 focus:shadow-outline-blue active:bg-blue-800 transition ease-in-out duration-150" %>
</div>
